@import "./mixins";

%container {
  max-width: calc($xxl-size - 100px);
  margin: 0 auto;
  padding-inline: 2rem;

  @include xxl {
    max-width: calc($xl-size - 60px);
  }

  @include xl {
    max-width: calc($lg-size - 60px);
  }

  @include lg {
    max-width: calc($md-size - 60px);
  }

  @include md {
    max-width: calc($sm-size - 40px);
  }

  @include sm {
    max-width: calc(100% - 40px);
    padding-inline: 1rem;
  }

  @include xs {
    max-width: calc(100% - 30px);
    padding-inline: 0.5rem;
  }
}

.container {
  @extend %container;
}
