:root {
  --font-family: Urbanist, sans-serif;

  --primary-color: #fcea47;
  --text-color: #ffffff;
  --background-color: #000000;
  --body-color: #191919;

  --danger-color: #e74c3c;
  --success-color: #2ecc71;
  --info-color: #327dfa;
}
